@{
    ViewData["Title"] = "Hoşgeldiniz";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="~/admindashboard/assets/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/admindashboard/assets/css/accountstyle.css" rel="stylesheet" />
    <link href="~/admindashboard/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/admindashboard/assets/plugins/toastr/toatr.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <!-- Style -->
    <link href="~/admindashboard/assets/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .toast-error {
            background-color: brown;
            color: white;
        }

        .toast-success {
            background-color: darkgreen;
            color: white;
        }
    </style>
    <title>Giriş Yap</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-4">
                    <h2 class="text-center mb-4">Giriş Yap</h2>

                    <div class="mb-3">
                        <label for="username" class="form-label">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adı">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Parola</label>
                        <input type="password" class="form-control" id="password" placeholder="Parola">
                    </div>

                <input value="Kaydet" id="btnSave" class="btn btn-block btn-primary float-end btn-sm">
            </div>
        </div>
    </div>




    <script src="~/admindashboard/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/admindashboard/assets/js/popper.js"></script>
    <script src="~/admindashboard/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/admindashboard/assets/js/main.js"></script>
    <script src="~/admindashboard/assets/plugins/toastr/toastr.min.js"></script>
    <script src="~/admindashboard/assets/plugins/toastr/toastr.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#btnSave").click(function () {


                var UserName = $("#username").val();
                var Password = $("#password").val();


                var formData = { UserName, Password };

                // Radio buton seçimini al


                $.ajax({
                    type: "POST",
                    url: "/SignIn/SignIn", // ControllerAdi, bu metodu içeren controller'ın adını temsil eder
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(formData),
                    success: function (result) {
                        // Başarılı yanıt geldiğinde yapılacak işlemler
                        if (result.isSuccess) {
                            // Başarılı olduğunda yönlendirme yapabilirsiniz
                            toastr.success("Giriş başarılı yönlendiriliyorsunuz!");
                            setTimeout(function () {
                                window.location.href = "/Request/RequestList";
                            }, 3000);
                         
                        } else {
                            // Başarısız olduğunda uygun bir işlem yapabilirsiniz
                            console.error(result.message);
                        }
                    },
                    error: function (error) {
                        // Hata durumunda yapılacak işlemler
                        console.error("Hata oluştu: " + error.responseText);
                    }
                });

            });

        });
    </script>
</body>
</html>