@{
    ViewData["Title"] = "Talepler";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
@section Styles{
    <style>
        .toast-error {
            background-color: brown;
            color: white;
        }

        .toast-success {
            background-color: darkgreen;
            color: white;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        var recordtable;
        $(function () {

            $("#requestTable tbody").on("click", "a#requestDetails", function () {
                var id = parseInt($(this).attr("data-id"));
                $('#details').modal('show');
                $.ajax({
                    url: '/Request/GetRequestById/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data.isSuccess) {
                            $("#name").text(data.request.name);
                            $("#surname").text(data.request.surname);
                            $("#phonenumber").text(data.request.phonenumber);
                            $("#apartmenttype").text(data.request.apartmentType);
                            $("#createddate").text(data.request.requestCreatedDate);
                            $("#movingdate").text(data.request.movingDate);
                            $("#originaddress").text(data.request.originCityName + ' - ' + data.request.originDistrictName + ' - ' + data.request.originLocalityName);
                            $("#originaddressdetails").text(data.request.originAddress);
                            $("#destinationaddress").text(data.request.destinationCityName + ' - ' + data.request.destinationDistrictName + ' - ' + data.request.destinationLocalityName);
                            $("#destinationaddressdetails").text(data.request.destinationAddress);
                            $("#description").text(data.request.requestDescription);
                            var extraService = getExtraService(data.request.extraService);
                            var originLift = data.request.originLift;

                            if (originLift == 0) {
                                $("#originlift").text("Var")
                            }
                            else{
                                $("#originlift").text("Yok")
                            }

                            var destinationLift = data.request.destinationLift;

                            if (destinationLift == 0) {
                                $("#destinationlift").text("Var")
                            }
                            else {
                                $("#destinationlift").text("Yok")
                            }

                            // extraservice divini seçin
                            var $extraserviceDiv = $('#extraservice');
                            $extraserviceDiv.empty();
                            // Dizideki her öğeyi dönün ve div içine ekleyin
                            extraService.forEach(function (service) {
                                // Yeni bir <p> elementi oluşturun ve içeriğini dizi öğesi ile doldurun
                                var $yeniParagraf = $('<p>').text('* ' + service);

                                // Oluşturulan <p> elementini div içine ekleyin
                                $extraserviceDiv.append($yeniParagraf);
                            });

                        } else {

                            toastr.error("Veri alınamadı !");
                        }
                    },
                    error: function () {
                        // Hata durumunda işleme geçin
                        toastr.error('İstek başarısız.');
                    }
                });
            });

            $("#requestTable tbody").on("click", "a#addOffer", function () {
                var RequestId = parseInt($(this).attr("data-id"));
                $('#giveOffer').modal('show');

                $("#price").mask("#.##0,00 ₺", { reverse: true });
                $.ajax({
                    url: "/Vehicle/GetVehicleList", // Veri çekilecek URL
                    type: "GET", // GET isteği
                    dataType: "json", // Verinin JSON formatında olduğunu belirt
                    success: function (data) { // İsteğin başarılı olduğunda çalışacak fonksiyon
                        // 'data' içinde gelen veriye erişebilirsiniz.

                        // 'data' içindeki veriyi 'id="vehicles"' olan select elementine doldur
                        var selectElement = $("#vehicles");

                        // Veriyi döngü ile gezerek seçenekleri ekleyin
                        $.each(data, function (index, item) {
                            // Her bir veri öğesi için yeni bir <option> elementi oluşturun
                            var option = $("<option>")
                                .attr("value", item.id) // Option'un değeri
                                .text(item.brand + ' - ' + item.model + ' - ' + item.type + ' - ' + item.year + ' - ' + item.driverName); // Option'un görünen metni (örneğin, model adı)

                            // Oluşturulan <option> elementini <select> içine ekleyin
                            selectElement.append(option);
                        });
                    },
                    error: function (error) { // İsteğin başarısız olduğunda çalışacak fonksiyon
                        console.error("Hata oluştu: " + error.statusText);
                    }
                });
                $('.btnSave').off('click').on('click', function () {

                    var Price = $("#price").val();
                    var StartDate = $("#startdate").val().trim();
                    var EndDate = $("#enddate").val().trim();
                    var VehicleId = parseInt($("#vehicles").val());
                    var Description = $("#vehicles").val().trim();



                    if (StartDate === "") {
                        toastr.error("Yükleme tarihi boş geçilemez !");
                        return false;
                    }
                    if (EndDate === "") {
                        toastr.error("Varış tarihi boş geçilemez !");
                        return false;
                    }
                    if (VehicleId == 0) {
                        toastr.error("Araç bilgisi boş geçilemez !");
                        return false;
                    }
                    if (Description === "") {
                        toastr.error("Açıklama bilgisi boş geçilemez !");
                        return false;
                    }
                    var Price = $("#price").val();

                    // Türk Lirası formatından temizlenmiş sayıyı elde edin (nokta ve virgülü kaldırın)
                    Price = parseFloat(Price.replace(/[.,₺]/g, ""));

                    StartDate = moment($("#startdate").val(), 'DD-MM-YYYY').format('YYYY-MM-DDTHH:mm:ss');
                    EndDate = moment($("#enddate").val(), 'DD-MM-YYYY').format('YYYY-MM-DDTHH:mm:ss');

                    var modelData = { StartDate, EndDate, VehicleId, Description, RequestId };
                    $.ajax({
                        type: "POST",
                        url: "/Offer/AddOffer", // Controller ve Action adınıza göre ayarlayın
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(modelData),
                        dataType: "json",
                        success: function (result) {
                            // Başarılı bir şekilde sonuç alındığında yapılacak işlemler
                            if (result.isSuccess) {
                                Swal.fire({
                                    icon: "success",
                                    title: "Başarılı",
                                    text: "Teklif Gönderildi !",
                                }).then(function () {
                                    // Başarılı mesaj gösterildikten sonra yönlendirme yapabilirsiniz
                                    $('#giveOffer').modal('hide');
                                    recordtable.ajax.reload();
                                });
                            } else {
                                toastr.error("Hata : Teklif gönderme işlemi başarısız !");
                            }
                        },
                        error: function () {
                            // Hata durumunda yapılacak işlemler
                            toastr.error("Hata : Teklif gönderme işlemi başarısız !");
                        }
                    });

                });
            });



            $.ajax({
                url: '/Request/GetRequestList', // Controller ve metot adını kullanarak uygun URL'yi oluşturun
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    // Hata durumunda burada işlem yapın
                }
            });

            recordtable = $('#requestTable').DataTable({
                "ajax": {
                    "url": "/Request/GetRequestList", // Veri çekmek için kullanacağınız URL
                    "type": "GET", // HTTP isteği türü (GET veya POST)
                    "dataSrc": "" // Verilerinizi içeren JSON nesnesinin kökü (eğer JSON veri dizisi içinde ise boş bırakabilirsiniz)
                },
                "columns": [
                    { "data": "requestId", visible: false },
                    {
                        "data": "requestType", className: "text-center", render: function (data, type, row) {
                            var html = "";
                            if (data == 1) {
                                html += '<span class="badge bg-primary">Evden Eve</span>';
                            }
                            else if (data == 2) {
                                html += '<span class="badge bg-success">Ofis</span>';
                            }
                            else {
                                html += '<span class="badge bg-warning text-dark">Büyük Eşya</span>';
                            }
                            return html;
                        }
                    },
                    { "data": "originCityName" },
                    { "data": "originDistrictName" },
                    { "data": "originLocalityName" },
                    { "data": "destinationCityName" },
                    { "data": "destinationDistrictName" },
                    { "data": "destinationLocalityName" },
                    {
                        "data": "movingDate", className: "text-center", render: function (data, type, row) {
                            if (data != null && data != "")
                                return moment(data).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        "data": "requestCreatedDate", className: "text-center", render: function (data, type, row) {
                            if (data != null && data != "")
                                return moment(data).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        "data": "offerCount", className: "text-center text-nowrap", render: function (data, type, row) {
                            return "<a href='javascript:;'data-toggle='tooltip' data-placement='left' title='Teklifleri Görüntüle'><span class='badge bg-success'>" + (data) + "</span></a>";
                        }
                    },
                    { "data": "requestStatus" },
                    {
                        "data": null, className: "text-center text-nowrap", render: function (data, type, row) {
                            return "<a href='javascript:;'data-toggle='tooltip' data-id='" + row.requestId + "' id='addOffer' data-placement='left' title='Teklif Ver'><span  class='btn btn-secondary btn-sm'>Teklif Ver</span></a>&nbsp;<a href='javascript:;'data-toggle='tooltip' data-id='" + row.requestId + "' id='requestDetails' data-placement='left' title='Teklif Ver'><span  class='btn btn-warning btn-sm'>Detay Görüntüle</span></a>";
                        }
                    }

                ]
            });


        });


    </script>

}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Talepler</h4>
            <h6>Manage your Sales Report</h6>
        </div>
        <div class="page-btn">
            <a href="/Request/AddRequestPage" class="btn btn-added"><img src="~/admindashboard/assets/img/icons/plus.svg" alt="img">Ekle</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="~/admindashboard/assets/img/icons/filter.svg" alt="img">
                            <span><img src="~/admindashboard/assets/img/icons/closes.svg" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset">
                            <img src="~/admindashboard/assets/img/icons/search-white.svg"
                                 alt="img">
                        </a>
                    </div>
                </div>
                <div class="wordset">
                    <ul>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                                <img src="~/admindashboard/assets/img/icons/pdf.svg" alt="img">
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                                <img src="~/admindashboard/assets/img/icons/excel.svg" alt="img">
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="print">
                                <img src="~/admindashboard/assets/img/icons/printer.svg" alt="img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card" id="filter_inputs">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <div class="input-groupicon">
                                    <input type="text" placeholder="From Date" class="datetimepicker">
                                    <div class="addonset">
                                        <img src="~/admindashboard/assets/img/icons/calendars.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <div class="input-groupicon">
                                    <input type="text" placeholder="To Date" class="datetimepicker">
                                    <div class="addonset">
                                        <img src="~/admindashboard/assets/img/icons/calendars.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                            <div class="form-group">
                                <a class="btn btn-filters ms-auto">
                                    <img src="~/admindashboard/assets/img/icons/search-whites.svg" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="requestTable" class="table mb-0 datenew" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Talep Türü</th>
                            <th>Yükleme İl</th>
                            <th>Yükleme İlçe</th>
                            <th>Yükleme Semt</th>
                            <th>Varış İl</th>
                            <th>Varış İlçe</th>
                            <th>Varış Semt</th>
                            <th>Taşıma Tarihi</th>
                            <th>Talep Tarihi</th>
                            <th>Teklif Sayısı</th>
                            <th>Talep Durum</th>
                            <th>İşlemler</th>


                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Talep Detayları</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" style="color:black" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin:3px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Adı</strong></label>
                                <label class="form-control" id="name"></label>
                            </div>
                            <div class="form-group">
                                <label><strong>Telefon Numarası</strong></label>
                                <label class="form-control" id="phonenumber">05344276349</label>
                            </div>
                            <div class="form-group">
                                <label><strong>İlan Tarihi</strong></label>
                                <label class="form-control" id="createddate">14.06.2023</label>
                            </div>
                            <div class="col-md-12">
                                <div class="ribbon-wrapper card">
                                    <div class="card-body">
                                        <div class="ribbon ribbon-secondary">Yükleme Noktası</div>
                                        <div class="form-group">
                                            <label><strong>İl / İlçe / Mahalle / Adres</strong></label>
                                            <label id="originaddress">İstanbul</label>
                                            <hr class="m-0" />
                                            <label id="originaddressdetails">Adres</label>
                                            <label><strong>Bina içi asansör :</strong> <span id="originlift"></span> </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label><strong>Açıklama</strong></label>
                                <label class="form-control" id="description">Açıklama</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Soyadı</strong></label>
                                <label class="form-control" id="surname"></label>
                            </div>
                            <div class="form-group">
                                <label><strong>Apartman Tipi</strong></label>
                                <label class="form-control" id="apartmenttype">3 + 1</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Taşıma Tarihi</strong></label>
                                <label class="form-control" id="movingdate">14.06.2023</label>
                            </div>
                            <div class="col-md-12">
                                <div class="ribbon-wrapper card">
                                    <div class="card-body">
                                        <div class="ribbon ribbon-success">Varış Noktası</div>
                                        <div class="form-group">
                                            <label><strong>İl / İlçe / Mahalle / Adres</strong></label>
                                            <label id="destinationaddress">İstanbul</label>
                                            <hr class="m-0" />
                                            <label id="destinationaddressdetails">Adres</label>
                                            <label><strong>Bina içi asansör :</strong> <span id="destinationlift"></span> </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label><strong>Extra Servis</strong></label>
                                <div class="form-control" id="extraservice"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="justify-content:end">
                    <button type="button" class="btn btn-secondary btnClose" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="giveOffer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Teklif Ver</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" style="color:black" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin:3px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Yükleme Tarihi</label>
                                <div class="form-group">
                                    <div class="input-groupicon">
                                        <input type="text" id="startdate" placeholder="DD-MM-YYYY" class="datetimepicker">
                                        <div class="addonset">
                                            <img src="~/admindashboard/assets/img/icons/calendars.svg" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Araç</label>
                                <select class="select" id="vehicles">
                                    <option value="0">Seçiniz</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Varış Tarihi</label>
                                <div class="form-group">
                                    <div class="input-groupicon">
                                        <input type="text" id="enddate" placeholder="DD-MM-YYYY" class="datetimepicker">
                                        <div class="addonset">
                                            <img src="~/admindashboard/assets/img/icons/calendars.svg" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Fiyat</label>
                                <input type="text" id="price" class="form-control">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description">Açıklama</label>
                                <textarea class="form-control" id="description" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="justify-content:end">
                    <button type="button" class="btn btn-secondary btnClose" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary btnSave" id="type-error">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>