@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")
@await RenderSectionAsync("Styles", required: false)
<body>
    @*PreLoader Start*@
    @await Html.PartialAsync("/Views/AdminLayout/PreLoaderPartial.cshtml")
    @*Preloader End*@
    <div class="main-wrapper">
        @*Navheader Start*@
        @await Html.PartialAsync("/Views/AdminLayout/NavHeaderPartial.cshtml")
        @*Navheader End*@

        @*SideBar Start*@
        @await Html.PartialAsync("/Views/AdminLayout/SideBarPartial.cshtml")
        @*SideBar End*@

        <div class="page-wrapper">

            @RenderBody()


        </div>
    </div>
    @*Script Start*@
    @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")
    @*Script End*@
    @RenderSection("Scripts", required: false)
</body>
</html>

