<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="active">
                    <a href="index.html"><img src="~/admindashboard/assets/img/icons/dashboard.svg" alt="img"><span> Dashboard</span> </a>
                </li>      
                
               @*  <li>
                    <a href="components.html"><i data-feather="layers"></i><span> Components</span> </a>
                </li> *@

                <li>
                    <a href="/User/UserList"><img src="~/admindashboard/assets/img/icons/users1.svg" alt="img"><span> Kullanıcılar</span></a>
                    @* <ul>
                        <li><a href="customerlist.html">Customer List</a></li>
                        <li><a href="addcustomer.html">Add Customer </a></li>
                        <li><a href="supplierlist.html">Supplier List</a></li>
                        <li><a href="addsupplier.html">Add Supplier </a></li>
                        <li><a href="userlist.html">User List</a></li>
                        <li><a href="adduser.html">Add User</a></li>
                        <li><a href="storelist.html">Store List</a></li>
                        <li><a href="addstore.html">Add Store</a></li>
                    </ul> *@
                </li>               
                <li>
                    <a href="/Vehicle/VehicleList"><img src="~/admindashboard/assets/img/icons/users1.svg" alt="img"><span> Araçlar</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>