<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="active">
                    <a href="index.html"><img src="~/admindashboard/assets/img/icons/dashboard.svg" alt="img"><span> Dashboard</span> </a>
                </li>
                <li>
                    <a href="/User/UserList">
                        <i class="fa fa-users" data-bs-toggle="tooltip" title="fa fa-truck"></i>
                        <span> Kullanıcılar</span>
                    </a>
                </li>
                <li>
                    <a href="/Vehicle/VehicleList">
                        <i class="fa fa-truck" data-bs-toggle="tooltip" title="fa fa-truck"></i>
                        <span> Araçlar</span>
                    </a>
                </li>
                <li>
                    <a href="/Company/CompanyList">
                        <i class="fa fa-building" data-bs-toggle="tooltip" title="fa fa-truck"></i>
                        <span> Şirketler</span>
                    </a>
                </li>
                <li>
                    <a href="/Request/RequestList">
                        <i class="fa fa-list-alt" data-bs-toggle="tooltip" title="fa fa-truck"></i>
                        <span> Talepler</span>
                    </a>
                </li>             
                <li>
                    <a href="/Message/MessageList">
                        <i class="fa fa-envelope" data-bs-toggle="tooltip" title="fa fa-truck"></i>
                        <span> Mesajlar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>